<center>
<h1>All Users</h2>
<hr>
<table style="border-collapse: collapse; width: 65%; margin: 1rem 0;">
  <thead>
    <tr style="background-color: #2c3e50; color: #fff;">
      <th style="padding: 1rem; font-weight: bold;">Name</th>
      <th style="padding: 1rem; font-weight: bold;">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr style="background-color: #ecf0f1;"> 
        <td style="padding: 1rem; border: 1px solid #ddd;"><%= user.name %></td>
        <td style="padding: 1rem; border: 1px solid #ddd;"><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

