<footer>
  <p class="footer-links">
    <%= link_to "Go to top",  class: "footer-link" %>
    <span class="footer-spacing">|</span>
    <%= link_to 'Go back', :back, class: "footer-link" %>
  </p>
</footer>